h1 {
    font-size: 30px;
    text-align: center;
    color: #b193e2
}

p {
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #b8e4b1;
}